<ion-content [fullscreen]="true"
  style="--background: url(/assets/background/profile_bg.jpg) center center / cover no-repeat fixed;">

  <div style="width: 100%; margin-top: 40px;">
    <ion-header class="ion-no-border">
      <ion-toolbar class="ion-no-padding" style="--background: transparent;">

        <!-- USER INFO -->
        <div class="header_container">
          <div class="user_info">
            <ion-avatar>
              <img alt="User Profile Pic" src="https://i.pravatar.cc/300" />
            </ion-avatar>

            <div>
              <img src="assets/material/sample_title.png" alt="">
              <div class="username">John Doe</div>
              <div class="userid">ID: HEYU001002</div>
            </div>
          </div>

        </div>
      </ion-toolbar>
    </ion-header>

    <!-- WALLET BALANCE -->
    <div
      style="width: 100%; display: flex; align-items: center; justify-content: center; padding: 0 20px; margin-bottom: 30px; margin-top: 10px;">
      <div class="wallet">
        <div>
          <h6>Balance</h6>

          <div class="balance_container">
            <ion-icon src="assets/svg/hey_coin.svg"></ion-icon>
            <h3>{{13889 | number: '1.0-0'}}</h3>
          </div>
        </div>
      </div>
    </div>

    <!-- SETTINGS -->
    <div style="width: 100%; padding: 0 20px 20px 20px">

      <div style="font-size: 18px; font-weight: bold; color: #ffffff; margin-bottom: 10px;">Others</div>

      <div class="setting_container">
        <div class="setting_left">
          <ion-icon slot="start" src="assets/icon/profile.svg"></ion-icon>
          <div class="setting_text">Edit Profile</div>
        </div>
        <ion-icon style="color: #ffffff" name="chevron-forward-outline"></ion-icon>
      </div>

      <div class="setting_container">
        <div class="setting_left">
          <ion-icon slot="start" src="assets/icon/favourite.svg"></ion-icon>
          <div class="setting_text">Favourite</div>
        </div>
        <ion-icon style="color: #ffffff" name="chevron-forward-outline"></ion-icon>
      </div>

      <div class="setting_container">
        <div class="setting_left">
          <ion-icon slot="start" src="assets/icon/language.svg"></ion-icon>
          <div class="setting_text">Language</div>
        </div>
        <ion-icon style="color: #ffffff" name="chevron-forward-outline"></ion-icon>
      </div>

      <div class="setting_container">
        <div class="setting_left">
          <ion-icon slot="start" src="assets/icon/card.svg"></ion-icon>
          <div class="setting_text">My Cards</div>
        </div>
        <ion-icon style="color: #ffffff" name="chevron-forward-outline"></ion-icon>
      </div>

      <div class="setting_container">
        <div class="setting_left">
          <ion-icon slot="start" src="assets/icon/tnc.svg"></ion-icon>
          <div class="setting_text">Terms & Conditions</div>
        </div>
        <ion-icon style="color: #ffffff" name="chevron-forward-outline"></ion-icon>
      </div>

      <div class="setting_container">
        <div class="setting_left">
          <ion-icon slot="start" src="assets/icon/settings.svg"></ion-icon>
          <div class="setting_text">Settings</div>
        </div>
        <ion-icon style="color: #ffffff" name="chevron-forward-outline"></ion-icon>
      </div>

    </div>
  </div>
</ion-content>


<ion-footer class="ion-no-border">
  <ion-toolbar class="ion-no-padding" style="--background: inherit;">
    <div style="width: 100%; padding: 20px; display: flex; align-items: center; justify-content: center;">

      <div (click)="logout()"
        style="width: 100%; height: 50px; border-radius: 15px; background-color: #382D62; display: flex; align-items: center; justify-content: center;">
        <ion-icon style="color: #ffffff" name="log-out-outline"></ion-icon>
        <div class="setting_text">Logout</div>

      </div>
    </div>
  </ion-toolbar>
</ion-footer>