// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/

:root {
    --ion-color-favorite: #69bb7b;
    --ion-color-favorite-rgb: 105, 187, 123;
    --ion-color-favorite-contrast: #ffffff;
    --ion-color-favorite-contrast-rgb: 255, 255, 255;
    --ion-color-favorite-shade: #5ca56c;
    --ion-color-favorite-tint: #78c288;

    --ion-color-white: #B4B2E5;
    --ion-color-white-rgb: 255, 255, 255;
    --ion-color-white-contrast: #262626;
    --ion-color-white-contrast-rgb: 38, 38, 38;
    --ion-color-white-shade: #B4B2E5;
    --ion-color-white-tint: #B4B2E5;

    --ion-color-newPurple: #6860FF;
    --ion-color-newPurple-rgb: 104, 96, 255;
    --ion-color-newPurple-contrast: #ffffff;
    --ion-color-newPurple-contrast-rgb: 255, 255, 255;
    --ion-color-newPurple-shade: #6860FF;
    --ion-color-newPurple-tint: #6860FF;
}