<ion-header class="ion-no-border">
  <ion-toolbar class="ion-no-padding" style="--background: #080812; border-bottom: 1px solid #1D1E34;">
    <div class="header_container">
      <div style="display: flex; align-items: center;">
        <ion-button (click)="back()" fill="clear">
          <ion-icon slot="icon-only" color="white" name="chevron-back"></ion-icon>
        </ion-button>

        <ion-avatar>
          <img alt="User Profile Pic" [src]="friendProfile['picture']" />
        </ion-avatar>

        <div>
          <h1 style="font-size: 18px; font-weight: bold; color: #ffffff; margin: 0 0 5px 0;">{{friendProfile['name'] ||
            ''}}</h1>
          <div  style="width: 100%; display: flex; flex-wrap: wrap; gap: 5px;">
            <div *ngIf="friendProfile?.['age'] || friendProfile?.['gender'] "
              style="height: 23px; padding: 3px 8px; display: flex; align-items: center; justify-content: center; background-color: #212238; border-radius: 30px;">
              <ion-icon *ngIf="friendProfile?.['gender']" style="font-size: 14px; color: #B2AEFF; margin-right: 5px;"
                [name]="friendProfile['gender']"></ion-icon>
              <div *ngIf="friendProfile['dob']" style="font-size: 12px; font-weight: normal; color: #ffffff;">{{friendProfile['age']}}</div>
            </div>

            <div *ngIf="tool.lengthof(friendProfile?.['country'])"
              style="height: 23px; padding: 3px 8px; display: flex; align-items: center; justify-content: center; background-color: #212238; border-radius: 30px;">
              <div style="font-size: 12px; font-weight: normal; color: #ffffff;">
                <span [ngClass]="'fi fi-' + friendProfile?.['country']?.['lower_code']"></span>
                  &nbsp;{{friendProfile?.['country']?.['name']}}
              </div>
            </div>
          </div>
        </div>
      </div>

      <ion-button fill="clear" size="small" style="--color: #fffffff;">
        <ion-icon style="font-size: 18px;" slot="icon-only" name="ellipsis-vertical"></ion-icon>
      </ion-button>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content #content [fullscreen]="true" style="--background: #080812;">

  <div
    style="width: 100%; padding: 20px 15px 15px 15px; display: flex; justify-content: center; align-items: center; flex-direction: column;">
    <div
      style="width: 270px; height: 225px; background-image: url('assets/material/inv_bg.png'); background-size: contain; background-repeat: no-repeat; background-position: center; position: relative; display: flex; flex-direction: column; align-items: center;;">
      <div
        style="font-size: 20px; font-weight: 900; color: #ffffff; text-align: center; padding: 20px; padding-bottom: 10px;">
        INVITATION
      </div>

      <img style="width: 120px; height: 120px; object-fit: contain;" src="assets/material/inv_lock.png" alt="">

      <div style="width: 100%; display: flex; justify-content: center; position: absolute; bottom: -20px;">
        <div
          style="width: 170px; height: 60px; position: relative; background-image: url('assets/material/inv_btn.png'); background-size: cover; background-repeat: no-repeat; background-position: center; position: relative;">
          <div style="display: flex; align-items: center; justify-content: center; padding-top: 13px;">
            <ion-icon style="font-size: 20px;" src="assets/svg/hey_coin.svg"></ion-icon>
            <div style="font-size: 20px; font-weight: bold; color: #ffffff; margin-left: 5px;">300</div>
          </div>

        </div>

      </div>
    </div>

    <div style="width: 100%; margin-top: 30px;">
      <div
        style="width: 100%; height: 45px; border-radius: 10px; background: linear-gradient( to right, #14152C, #6860FF); padding: 1px; display: flex; align-items: center; justify-content: center;">
        <div style="width: 100%; height: 100%; background-color: #212238; border-radius: 9px; padding: 10px;">
          <div style="width: 100%; height: 100%; display: flex; align-items: center;">
            <ion-icon style="color: #6563b9" name="time-outline"></ion-icon>
            <div style="font-size: 14px; font-weight: 400; color: #6563B9; margin-left: 5px;;">Invitation will be
              expiring in <span style="color: #ff971c">10:00 </span> minutes.</div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <ion-list style="background: transparent; padding: 15px 15px 0 15px;">
    <!-- <div *ngFor="let item of messages" style=" margin-bottom: 10px;"> -->

    <ion-item *ngFor="let item of messages; let i = index; let f = first;" lines="none" class="ion-no-padding"
      style="--background: transparent; --inner-padding-end: 0px; margin-bottom: 10px;">

      <div style="width: 100%;">
        <!-- DATE DISPLAY -->
        <div *ngIf="messages[f ? 0 : i - 1 == 0 ? 1 : i - 1].date + 3600000 < item.date"
          style="width: 100%; display: flex; align-items: center; justify-content: center; margin: 20px 0px;">
          <div style="font-size: 8px; color: #ffffff;">{{tool.dateShow(item.date)}}</div>
        </div>

        <!-- OTHERS -->
        <div *ngIf="item.senderId != uid" style="width: 100%;">
          <div *ngIf="item.type == 'text'"
            style="width: fit-content; max-width: calc(100% - 40px); background-color: #212238; padding: 8px 10px; border-radius: 0 15px 15px 15px;">
            <span style="color: #ECDDDD; margin: 0;">{{item.text}}</span>
            <div
              style="width: 70px; height: 12px; position: relative; display: flex; align-items: center; justify-content: flex-end; float: right;">

              <div *ngIf="!item.timestamp" class="snippet" data-title="dot-flashing">
                <div class="stage">
                  <div class="dot-flashing"></div>
                </div>
              </div>

              <div *ngIf="item.timestamp"
                style="width: fit-content; display: flex; align-items: center; justify-content: flex-end; position: absolute; top: 5px;">
                <div style="width: 100%; font-size: 11px; font-weight: normal; color: #ECDDDD; text-align: end;">
                  {{item.date | date : 'h:mm a'}}</div>

                <!-- <ion-icon *ngIf="item.timestamp"
                  [ngStyle]="{'color': item.isRead ? 'blue' : item.isDelivered ? '#999' : '#999'}"
                  [name]="item.isRead ? 'checkmark-done-outline' : item.isDelivered ? 'checkmark-done-outline' : 'checkmark-outline' "
                  style="font-size: 13px;margin-top: 1px; margin-right: 3px;"></ion-icon> -->
              </div>
            </div>
          </div>

          <div *ngIf="item.type == 'gift'"
            style="width: fit-content; max-width: calc(100% - 40px); background-color: #212238; padding: 8px 10px; border-radius: 0 15px 15px 15px;">

            <img [src]="item.giftPicture" alt="" style="width: 90px; height: 90px; object-fit: contain;">

            <div style="width: 100%; display: flex; justify-content: flex-end;">
              <div
                style="width: 60px; height: 12px; position: relative; display: flex; align-items: center; justify-content: flex-end;">

                <div *ngIf="!item.timestamp" class="snippet" data-title="dot-flashing">
                  <div class="stage">
                    <div class="dot-flashing"></div>
                  </div>
                </div>

                <div *ngIf="item.timestamp"
                  style="width: fit-content; display: flex; align-items: center; justify-content: flex-end;">
                  <div style="width: 100%; font-size: 11px; font-weight: normal; color: #ECDDDD; text-align: end;">
                    {{item.date | date : 'h:mm a'}}</div>

                  <!-- <ion-icon *ngIf="item.timestamp"
                    [ngStyle]="{'color': item.isRead ? 'blue' : item.isDelivered ? '#999' : '#999'}"
                    [name]="item.isRead ? 'checkmark-done-outline' : item.isDelivered ? 'checkmark-done-outline' : 'checkmark-outline' "
                    style="font-size: 13px;margin-top: 1px; margin-right: 3px;"></ion-icon> -->
                </div>
              </div>
            </div>

          </div>
        </div>

        <!-- ME -->
        <div *ngIf="item.senderId == uid" style="width: 100%; display: flex; justify-content: flex-end;">
          <div *ngIf="item.type == 'text'"
            style="width: max-content; max-width: calc(70%); background-color: #ECDDDD; padding: 8px 10px; border-radius: 15px 0 15px 15px;">
            <span style="color: #14152C; margin: 0;">{{item.text}}</span>

            <div
              style="width: 70px; height: 12px; position: relative; display: flex; align-items: center; justify-content: flex-end; float: right;">

              <div *ngIf="!item.timestamp" class="snippet" data-title="dot-flashing">
                <div class="stage">
                  <div class="dot-flashing"></div>
                </div>
              </div>

              <div *ngIf="item.timestamp"
                style="width: fit-content; display: flex; align-items: center; justify-content: flex-end; position: absolute; top: 5px;">
                <div style="width: 100%; font-size: 11px; font-weight: normal; color: #14152C; text-align: end;">
                  {{item.date | date : 'h:mm a'}}</div>

                <ion-icon *ngIf="item.timestamp"
                  [ngStyle]="{'color': item.isRead ? 'blue' : item.isDelivered ? '#333' : '#333'}"
                  [name]="item.isRead ? 'checkmark-done-outline' : item.isDelivered ? 'checkmark-done-outline' : 'checkmark-outline' "
                  style="font-size: 13px;margin-top: 1px; margin-right: 3px;"></ion-icon>
              </div>
            </div>
          </div>

          <div *ngIf="item.type == 'gift'"
            style="width: max-content; max-width: calc(70%); background-color: #ECDDDD; padding: 8px 10px; border-radius: 15px 0 15px 15px;">

            <img [src]="item.giftPicture" alt="" style="width: 90px; height: 90px; object-fit: contain;">

            <div style="width: 100%; display: flex; justify-content: flex-end;">
              <div
                style="width: 60px; height: 12px; position: relative; display: flex; align-items: center; justify-content: flex-end;">

                <div *ngIf="!item.timestamp" class="snippet" data-title="dot-flashing">
                  <div class="stage">
                    <div class="dot-flashing"></div>
                  </div>
                </div>

                <div *ngIf="item.timestamp"
                  style="width: fit-content; display: flex; align-items: center; justify-content: flex-end;">
                  <div style="width: 100%; font-size: 11px; font-weight: normal; color: #14152C; text-align: end;">
                    {{item.date | date : 'h:mm a'}}</div>

                  <ion-icon *ngIf="item.timestamp"
                    [ngStyle]="{'color': item.isRead ? 'blue' : item.isDelivered ? '#333' : '#333'}"
                    [name]="item.isRead ? 'checkmark-done-outline' : item.isDelivered ? 'checkmark-done-outline' : 'checkmark-outline' "
                    style="font-size: 13px;margin-top: 1px; margin-right: 3px;"></ion-icon>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </ion-item>

    <!-- </div> -->
  </ion-list>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar class="ion-no-padding" style="--background: #080812; border-top: 1px solid #1D1E34;">
    <div style="width: 100%; display: flex; align-items: center; justify-content: space-between; padding: 15px 10px;">
      <!-- (keyup)="sendMessage($event)"  -->
      <ion-input [(ngModel)]="messageText" style="width: calc(100% - 61px); --padding-end: 8px;"
        placeholder="Enter message...">
        <ion-icon style="font-size: 20px; color: #E0DFE4; margin-right: 10px;" slot="start"
          src="assets/svg/chat_noti_btn/smile_face.svg" aria-hidden="true"></ion-icon>

        <ion-button *ngIf="messageText !== ''" (click)="sendMessage($event)" color="newPurple" slot="end"
          aria-label="Send message">
          <ion-icon slot="icon-only" name="send" aria-hidden="true"></ion-icon>
        </ion-button>
      </ion-input>

      <ion-button (click)="sendGift = true" class="ion-no-padding" fill="clear">
        <ion-icon style="font-size: 51px;" slot="icon-only" src="assets/svg/chat_noti_btn/gift_btn.svg"></ion-icon>
      </ion-button>
    </div>
  </ion-toolbar>
</ion-footer>

<ion-modal style="--background: inherit; --backdrop-opacity: 0.7" #modal3 [isOpen]="sendGift"
  (willDismiss)="sendGift = false; selectedGift = {};">
  <ng-template>
    <ion-content [scrollY]="false" style="--background: inherit">
      <div style="width: 100vw; height: 100vh; display: flex; flex-direction: column; justify-content: flex-end;">
        <div (click)="sendGift = false" style="width: 100%; height: calc(100vh - 411px);">
        </div>

        <div style="width: 100%; height: 300px; background-color: #14152C; border-radius: 15px 15px 0 0;">

          <div
            style="width: 100%; display: flex; align-items: center; justify-content: space-between; margin-bottom: 5px; padding: 15px;">
            <div style="font-size: 18px; font-weight: bold; color: #ffffff">Send Gifts</div>
            <div
              style="width: max-content; height: 30px; padding: 0 15px 0 5px; border-radius: 30px; background-color: #212238; display: flex; align-items: center; justify-content: center;">
              <ion-icon style="font-size: 26px;" src="assets/svg/hey_coin.svg"></ion-icon>
              <div style="font-size: 14px; font-weight: 00; color: #ffffff; margin-left: 5px;">{{(currentUser['credits']
                || 0) | number:'1.0-0'}}</div>
            </div>
          </div>

          <!-- <div style="width: 100%; display: flex; align-items: center; overflow-x: scroll; padding-left: 5px;">
            <div *ngFor="let item of gifts" (click)="selectGift(item)"
              [ngClass]="selectedGift['id'] == item['id'] ? 'each_gift_selected': 'each_gift'">

              <img style="width: 54px; height: 51px; object-fit: cover;" src="{{item['picture']}}" alt="">

              <h6>{{item['name']}}</h6>

              <div style="display: flex; align-items: center; justify-content: center;">
                <ion-icon style="font-size: 12px;" src="assets/svg/hey_coin.svg"></ion-icon>
                <div style="font-size: 12px; font-weight: 500; color: #FFD24F; margin-left: 3px;">{{item['gem']}}
                </div>
              </div>
            </div>
          </div> -->

          <swiper-container class="swiper" pagination (slidechange)="logActiveIndex()">
            <swiper-slide *ngFor="let giftList of arrayGift" style="padding-bottom: 20px;">
              <div style="display: grid; grid-template-columns: repeat(auto-fill, minmax(80px, 1fr)); ">
                <div *ngFor="let item of giftList" (click)="selectGift(item)"
                  [ngClass]="selectedGift['id'] == item['id'] ? 'each_gift_selected': 'each_gift'">
                  <img style="width: 54px; height: 51px; object-fit: cover;" src="{{item['picture']}}" alt="">

                  <h6>{{item['name']}}</h6>

                  <div style="display: flex; align-items: center; justify-content: center;">
                    <ion-icon style="font-size: 12px;" src="assets/svg/hey_coin.svg"></ion-icon>
                    <div style="font-size: 12px; font-weight: 500; color: #FFD24F; margin-left: 3px;">{{item['gem']}}
                    </div>
                  </div>
                </div>
              </div>
            </swiper-slide>
          </swiper-container>
        </div>
      </div>

    </ion-content>

    <ion-footer class="ion-no-border">
      <ion-toolbar class="ion-no-padding" style="--background: #14152C;">
        <div
          style="width: 100%; display: flex; align-items: center; justify-content: space-between; padding: 10px 10px 15px 10px;">
          <ion-input [(ngModel)]="messageText" style="width: calc(100% - 61px); --padding-end: 8px;"
            placeholder="Enter message...">
            <ion-icon style="font-size: 20px; color: #E0DFE4; margin-right: 10px;" slot="start"
              src="assets/svg/chat_noti_btn/smile_face.svg" aria-hidden="true"></ion-icon>

            <ion-button *ngIf="messageText !== ''" (click)="sendMessage($event)" color="newPurple" slot="end"
              aria-label="Send message">
              <ion-icon slot="icon-only" name="send" aria-hidden="true"></ion-icon>
            </ion-button>
          </ion-input>

          <div id="gift_btn" (click)="giftSender()"
            [ngClass]="tool.lengthof(selectedGift) ? 'gift_btn_selected' : 'gift_btn'">
            <ion-icon style="font-size: 51px;" slot="icon-only" src="assets/svg/chat_noti_btn/gift_btn.svg"></ion-icon>
          </div>
        </div>
      </ion-toolbar>
    </ion-footer>
  </ng-template>
</ion-modal>