.selectedx {
    border: 2px solid transparent;

}

.selected {
    background: linear-gradient(#382D62, #382D62) padding-box,
        linear-gradient(0, #C423E8, #FF9520) border-box;
    border: 2px solid transparent;

}