<ion-content [scrollEvents]="true" (ionScroll)="logScrolling($event)" [fullscreen]="true"
  style="--background: url(/assets/background/login_bg.jpg) center center / cover no-repeat fixed; position: relative;">
  <div style="width: 100%;">

    <ion-header id="header" class="ion-no-border" style="position: sticky; top: 0;">
      <ion-toolbar class="ion-no-padding"
        style="--background: transparent; padding-left: 0 !important; padding-right: 0 !important;">
        <!-- url(/assets/background/login_bg.jpg) 0 0 / cover no-repeat fixed -->
        <div style="width: 100%;">

          <ion-button style="font-size: 30px;" (click)="back() " fill="clear">
            <ion-icon slot="icon-only" color="white" name="chevron-back"></ion-icon>
          </ion-button>

          <div style="width: 100%; padding: 0 20px 20px 20px">
            <div style="font-size: 32px; font-weight: 800; color: #ffffff; margin-bottom: 3px;">Party Room</div>
            <div style="font-size: 16px; font-weight: 500; color: #B4B2E5;">Create your own private event</div>
          </div>

        </div>
      </ion-toolbar>
    </ion-header>

    <div
      style="width: 100%; padding: 15px; display: flex; align-items: center; justify-content: center; margin-bottom: 15px">
      <div
        style="width: 100%; height: 46px; display: flex; align-items: center; justify-content: space-between; background-color: #6860FF; border-radius: 30px; padding:0 15px">
        <ion-select mode="ios" (ionSelect)="setLocationName() " [(ngModel)]="roomInfo['locationId']" interface="popover" placeholder="Select Location"
          style="font-size: 16px; font-weight: bold; color: #ffffff; --placeholder-color: #ffffff;">
          <ion-select-option  *ngFor="let item of outlets">{{item['name']}}</ion-select-option>
        </ion-select>
        <ion-icon style="font-size: 24px; color: #ffffff;" name="caret-down"></ion-icon>
      </div>
    </div>

    <div style="width: 100%; background-color: #382D62; border-radius: 15px 15px 0 0; padding: 15px 15px 40px 15px;">
      <div style="font-size: 16px; font-weight: bold; color: #ffffff; margin-bottom: 15px;">Party Info</div>

      <div
        style="width: 100%; height: 45px; margin-bottom: 13px; background-color: #090913; border-radius: 25px; padding: 0 15px;">
        <ion-input [(ngModel)]="roomInfo['title']"
          style="font-size: 14px; font-weight: 500; color: #ffffff; --placeholder-color: #848489;"
          placeholder="Give your party a title"></ion-input>
      </div>

      <div style="width: 100%; margin-bottom: 13px; background-color: #090913; border-radius: 25px; padding: 5px 15px;">
        <ion-textarea [(ngModel)]="roomInfo['description']"
          style="font-size: 14px; font-weight: 500; color: #ffffff; --placeholder-color: #848489;"
          placeholder="What is this party about?" rows="3"></ion-textarea>
      </div>

      <div
        style="width: 100%; margin-bottom: 13px; display: flex; align-items: center; justify-content: space-between;">

        <div id="dateTrigger" class="each_basic">
          <div style="display: flex; align-items: center; justify-content: flex-start;">
            <ion-icon style="font-size: 18px; color: #848489;" name="calendar"></ion-icon>
            <div style="font-size: 14px; font-weight: bold; color: #ffffff; margin-left: 10px;">{{roomInfo['date'] |
              date:
              "dd MMM yyyy"}}</div>
          </div>

          <ion-popover trigger="dateTrigger" style="--min-width: 350px; --width: 350px;">
            <ng-template>
              <ion-datetime [min]="today" presentation="date" [(ngModel)]="roomInfo['date']"></ion-datetime>
            </ng-template>
          </ion-popover>
        </div>

        <div id="timeTrigger" class="each_basic">
          <div style="display: flex; align-items: center; justify-content: flex-start;">
            <ion-icon style="font-size: 18px; color: #848489;" name="time"></ion-icon>
            <div style="font-size: 14px; font-weight: bold; color: #ffffff; margin-left: 10px;">{{roomInfo['time'] |
              date:
              "hh:mm a"}}</div>
          </div>

          <ion-popover trigger="timeTrigger" style="--min-width: 350px; --width: 350px;">
            <ng-template>
              <ion-datetime [min]="today" presentation="time"
                [(ngModel)]="roomInfo['time']" [minuteValues]="[15, 30, 45, 60]"></ion-datetime>
            </ng-template>
          </ion-popover>
        </div>
      </div>

      <div
        style="width: 100%; height: 45px; margin-bottom: 35px; background-color: #090913; border-radius: 25px; display: flex; align-items: center;">
        <div
          style="width: calc(100% - 130px); height: 100%; display: flex; align-items: center; justify-content: space-between;">
          <div (click)="selectPax(item)" *ngFor="let item of paxNumber; let i = index"
            style="width: calc(100% / 4); height: 100%; display: flex; justify-content: center; align-items: center;"
            [ngStyle]="{'background-color': selectedPax == item || (item == roomInfo['pax'] && roomInfo['pax'] != null) ? '#6860FF' : '#090913', 'border-radius': i == 0 ? '25px 0 0 25px' : '0'}">
            <div [ngStyle]="{'color': roomInfo['pax']  && selectedPax == null ? 'rgba(255,255,255,0.2)' : '#ffffff'}" style="font-size: 14px; font-weight: bold; color: #ffffff;">{{item}}</div>
          </div>
        </div>

        <div style="width: 130px; height: 100%; padding: 5px 0; display: flex; align-items: center;">
          <ion-input [(ngModel)]="roomInfo['pax']" (ionInput)="roomInfo['pax'] != selectedPax ? selectedPax = null :selectedPax "
            style="font-size: 14px; font-weight: 500; color: #ffffff; border-left: 0.5px solid rgb(132, 132, 137, 0.5); --placeholder-color: #848489; --padding-start: 10px;"
            placeholder="Enter pax no."></ion-input>
        </div>
      </div>

      <div style="font-size: 16px; font-weight: bold; color: #ffffff; margin-bottom: 15px;">Who can join?</div>

      <div
        style="width: 100%; margin-bottom: 35px; display: flex; align-items: center; justify-content: space-between;">
        <div class="gender_container"
          (click)="item['selected'] == false ? item['selected'] = true : item['selected'] = false"
          *ngFor="let item of gender; let l = last"
          [ngStyle]="{'margin-right' : !l ? '10px' : '', 'background-color': item['selected'] ? '#6860FF' : '#090913' }">
          <ion-icon style="font-size: 18px;" [src]="item['selected'] ? item['icon2'] : item['icon']"></ion-icon>
          <div class="gender_text">{{item['name']}}</div>
        </div>
      </div>

      <div style="font-size: 16px; font-weight: bold; color: #ffffff; margin-bottom: 15px;">Preferences</div>

      <div
        style="width: 100%; background-color: #090913; padding: 10px 25px; border-radius: 25px; margin-bottom: 15px;">
        <div style="font-size: 14px; font-weight: normal; color: #848489; padding-top: 5px;">Age</div>

        <div style="width: 100%; padding: 0 10px 25px 10px;">
          <ion-range class="ion-no-padding" mode="md" [pin]="true" [ticks]="false" [dualKnobs]="true" [min]="18"
            [max]="40" (ionChange)="selectAge($event)" [value]="{ lower: 20, upper: 30 }"></ion-range>
        </div>
      </div>

      <div
        style="width: 100%; background-color: #090913; padding: 10px 25px; border-radius: 25px; margin-bottom: 15px;">
        <div style="font-size: 14px; font-weight: normal; color: #848489; padding-top: 5px;">Budget</div>

        <div style="width: 100%; padding: 0 10px 25px 10px;">
          <ion-range [(ngModel)]="selectedBudget" class="ion-no-padding" mode="md" [pin]="true" [ticks]="false" [snaps]="true" [min]="1" [max]="3"
            [value]="1" [pinFormatter]="pinFormatter"></ion-range>
        </div>
      </div>

      <div
        style="width: 100%; height: 46px; display: flex; align-items: center; justify-content: space-between; background-color: #090913; border-radius: 30px; padding:0 25px">
        <ion-select mode="ios" [multiple]="true" [(ngModel)]="selectedLanguage" interface="popover" placeholder="Spoken Language"
          style="font-size: 16px; font-weight: normal; color: #848489; --placeholder-color: #ffffff;">
          <ion-select-option *ngFor="let item of languageList" value="{{item.value}}">{{item.label}}</ion-select-option>
        </ion-select>
        <ion-icon style="font-size: 24px; color: #848489;" name="caret-down"></ion-icon>
      </div>

      <!-- <div style="width: 100%; display: flex; flex-wrap: wrap;">
        <div (click)="selectPreference(item)"
          [ngStyle]="{'background-color': selectedPreference == item ? '#6860FF' : '#090913'}"
          *ngFor="let item of preferences"
          style="width: fit-content; min-width: 80px; margin-right: 10px; margin-bottom: 10px; background-color: #090913; height: 45px; padding: 0 15px; border-radius: 25px; display: flex; align-items: center; justify-content: center;">
          <div style="font-size: 14px; font-weight: 500; color: #ffffff;"># {{item}}</div>
        </div>
      </div> -->

    </div>
  </div>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar class="ion-no-padding" style="--background: #14152C;">
    <div style="width: 100%; display: flex; align-items: center; justify-content: space-between; padding: 15px;">
      <div>
        <h6 style="font-size: 14px; font-weight: normal; color: #ffffff; margin: 0;">Estimated Total</h6>
        <h1 style="font-size: 22px; font-weight: bold; color: #ffffff; margin: 0;">{{countTotal() | number: '1.0-0'}}
        </h1>
      </div>

      <ion-button (click)="createRoom()" style="width: 45%;" class="ion-no-padding primary_btn">
        Continue
      </ion-button>
    </div>
  </ion-toolbar>
</ion-footer>