.header_container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 20px 10px;

    ion-button {
        ion-icon {
            font-size: 30px;
        }
    }
}

.content_container {
    width: 100%;
    padding: 0px 20px;

    h1 {
        font-size: 32px;
        font-weight: 900;
        color: #ffffff;
        margin: 0;
    }

    p {
        font-size: 17px;
        font-weight: normal;
        color: #B4B2E5;
        margin: 10px 0px;
        line-height: 1.6;
    }
}